<%- include('partials/header')%>
<%- include('partials/navbar')%>
<style>
    body{
        background-image: url('../img/edit.jpg');
        background-size: cover;
    }
</style>
<body>
    <hr>
    <div class="container">
        <div class="card bg-dark text-white">
            <div class="card-header">
                <h3>Editar Usuário</h3>
                <div style="width: 100%; border: 1px solid #fff;"></div>
            </div>
            <div class="card-body">
                <form action="/update" method="post">
                    <input class="form-control" type="hidden" name="id" value="<%= user.id %>"><br>
                    <input class="form-control" type="text" name="name" id="name" placeholder="nome" value="<%= user.name %>"><br>
                    <input class="form-control" type="email" name="email" id="email" placeholder="e-mail" value="<%= user.email %>"><br>
                    <button class="btn btn-light">Atualizar</button>
                    <div style="float: inline-end;">
                        <a href="/users" class="btn btn-light">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
</body>
</html>